<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
        <title>home</title>
    </head>
    <body>          
        <div th:replace="cabecalhoLogado :: cabecalhoLogado"/>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div th:replace="menu :: menu"/>
                    </div>
                    <div class="col-md-9">
                        <div class="page-header">
                            <h1 th:text="${userName}"></h1>
                            <h3>Estes são seus amigos:</h3>
                            <span th:each="amg : ${amigos}">
                                <form method="POST" th:action="@{/amigos}">
                                    <input type="text" name="username" id="username" th:attr="value = ${amg.nome}" readonly="readonly"/><br/>

                                    <label th:if="${amg.avaliado} == false">Nota (de 1 a 5)</label>
                                    <input th:if="${amg.avaliado} == false" type="text" id="notaConhecido" name ="notaConhecido"/>
                                    <button th:if="${amg.avaliado} == false" type="submit" name="aceitar" id="aceitar" class="btn btn-primary">Avaliar</button>
                                </form>
                            </span>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
