<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="cabecalhoLogin"> 
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">Trabalho-DW</a>
                    </div>

                    <div>
                        <a class="navbar-form navbar-right" th:href="@{/login}">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </a>
                    </div>
                </div>
            </nav>
        </div> 

        <br/><br/>
    </body>
</html>

