<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
        <title>Erro</title>
    </head>
    <body>
        <div th:replace="cabecalhoLogado :: cabecalhoLogado"></div>
        <div class="jumbotron"/>
        <h1>Um erro foi encontrado.</h1>
        <a href="home.html" th:href="@{/home.html}">Voltar para a Home</a>
    </body>
</html>

