<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
        <title>Solicitações de Saída</title>
    </head>
    <body>
        <div class="jumbotron">  
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div th:replace="menu :: menu"/>
                    </div>
                    <div class="col-md-9">
                        <div th:replace="cabecalhoLogado :: cabecalhoLogado"/>
                        <div class="list-group">
                            <div class="page-header">
                                <h1>Solicitações de Saída</h1>
                            </div>
                            <span th:each="esp : ${lista}">
                                <form th:if="${esp.aprovado} != false" method="POST" th:action="@{/esportesAceitos}">
                                    <label>Identificação:</label>
                                    <input type="text" id="solicitacaoId" name="solicitacaoId" th:attr="value = ${esp.id}" readonly="readonly"/><br/>
                                    <label>Nome do Solicitante</label>
                                    <span th:text="${esp.nomeSolicitante}"/><br/>
                                    <label>Data Início</label>
                                    <span th:text="${esp.data}"/><br/>
                                    <label>Nota (de 1 a 5)</label>
                                    <input type="text" id="notaEsporte" name ="notaEsporte"/>
                                    <button type="submit" name="aceitar" id="aceitar" class="btn btn-primary">Avaliar</button>
                                </form>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
