<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
        <title>Cadastro de hospedagem</title>
    </head>
    <body>
        <div class="jumbotron"/>  
        <div class="page-header">
            <h1>Cadastro de Hospedagem 
                <small>Preencha os campos abaixo para cadastrar sua hospedagem.</small>
            </h1>
        </div> 
        <div th:replace="erros :: erros"/>
        <div th:replace="cabecalhoLogado :: cabecalhoLogado"/>
        <form method="post" role="form" th:action="@{/hospedagem}">
            <div class="form-group">
                <label>Cidade:</label>
                <input type="text" class="form-control" id="cidade" placeholder="Insira a cidade de destino" name="cidade"/>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form><br/><br/>
        <form method="post" role="form" th:action="@{/hospedagem.html}">
                <label for="numeroHospedes">Numero de hospedes: </label>
                <input type="text" class="form-control" placeholder="Numero de Hospedes" name="numeroHospedes"/>
                <label for="numeroEsportistas">Numero de praticantes de esporte:</label>
                <input type="text" class="form-control" placeholder="Numero de Esportistas" name="numeroEsportistas"/>
                <label for="dataInicial">Data Inicial (MM/DD/AAAA)</label>
                <input type="text" class="form-control" placeholder="Data de Início" name="dataInicial"/>
                <label for="dataFinal">Data Final (MM/DD/AAAA) </label>
                <input type="text" class="form-control" placeholder="Data Final" name="dataFinal"/>
            <div th:each="user : ${usuariosPorCidade}">
                <label>Nome:</label>
                <input type="text" name="nomeHospedeiro" th:attr="value = ${user.nome}" readonly="readonly"/><br/>
                <label>Cidade:</label>
                <span th:text="${user.cidade}"/><br/>
                <label>Endereço:</label>
                <span th:text="${user.endereco}"/><br/>
                <label>País:</label>
                <span th:text="${user.pais}"/><br/>
                <button type="submit" class="btn btn-primary">Pedir Hospedagem</button>
                <br/><br/>
            </div>
        </form>
    </body>
</html>
