<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
        <title>Hospedeiro</title>
    </head>
    <body>
        <div class="jumbotron">  
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div th:replace="menu :: menu"/>
                    </div>
                    <div class="col-md-9">
                        <div th:replace="cabecalhoLogado :: cabecalhoLogado"/>
                        <div class="list-group">
                            <div class="page-header">
                                <h1>Hospedagens Aceitas</h1>
                            </div>
                            <span th:each="hosp : ${lista}">
                                <form th:if="${hosp.aprovado} != false" method="POST" th:action="@{/hospedagensAceitas}">
                                    <label>Identificação:</label>
                                    <input type="text" id="hospedagemId" name="hospedagemId" th:attr="value = ${hosp.id}" readonly="readonly"/><br/>
                                    <label>Número de Hóspedes</label>
                                    <span th:text="${hosp.numeroHospedes}"/><br/>
                                    <label>Número de Hóspedes Esportistas</label>
                                    <span th:text="${hosp.numeroEsportistas}"/><br/>
                                    <label>Data Início</label>
                                    <span th:text="${hosp.dataInicial}"/><br/>
                                    <label>Data Fim</label>
                                    <span th:text="${hosp.dataFinal}"/><br/>
                                    <label th:if="${hosp.avaliado} == false">Nota (de 1 a 5)</label>
                                    <input th:if="${hosp.avaliado} == false" type="text" id="notaHospedagem" name ="notaHospedagem"/>
                                    <button th:if="${hosp.avaliado} == false" type="submit" name="aceitar" id="aceitar" class="btn btn-primary">Avaliar</button>
                                </form>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
